body {}

header {
	padding: 50px 0;
}

.bg-blue {
	background-color: #0073ca;
}
.color-blue {
	color: #0073ca;
}
.bg-white {
	background-color: #fff;
}
.color-white {
	color: #fff;
}
.p-0 {
	padding: 0 !important;
}
.m-0 {
	margin: 0 !important;
}
.center-middle {
	display: flex;
	align-items: center;
}
.btn-theme {
	background-color: #0073ca;
    color: #fff;
    border-radius: 0;
    border: 1px solid transparent;
}
.btn-theme:hover, .btn-theme:focus {
    color: #0073ca;
    background-color: transparent;
    border-color: #0073ca;
	outline: none;
}
.heading {
	text-transform: uppercase;
	font-weight: bold;
}
.section-header {
	color: #fff;
	background-color: #0073ca;
	padding: 15px;
}
.form-section {
	color: #fff;
	text-transform: uppercase;
	padding: 10px 0;
}
.form-section .col-md-2 {
	width: 14%;
}
.form-section-heading {
	font-size: 14px;
    font-weight: bold;
}

.form-horizontal label {
	color: #767676;
    font-size: 16px;
    padding-right: 0;
}

.form-horizontal input {
	border: 1px solid #858585;
    box-shadow: none;
    border-radius: 0;
}
.form-horizontal textarea {
	border: 1px solid #858585;
    box-shadow: none;
    border-radius: 0;
	resize: none;
}
.form-horizontal select {
	border: 1px solid #858585;
    box-shadow: none;
    border-radius: 0;
	resize: none;
}

.form-table>thead>tr>th {
    vertical-align: top;
    border-bottom: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.btn-add {
	font-size: 20px;
    padding: 0 12px;
	margin-right: 5px;
}

.section-divider {
	border-top: 6px solid #0073ca;
	margin: 40px -15px;
}

form .checkbox-inline {
    margin: 0;
    font-weight: 100;
    font-size: 14px;
	width: 100%;
}
form .checkbox-inline input {
    /* display: inline-block; */
    /* width: auto; */
    /* margin: 4px 5px 0 0; */
    /* vertical-align: middle; */
}
form .checkbox-inline input:before {
    position: relative;
    display: block;
    content: "";
    opacity: .9;
    width: 12px;
    height: 12px;
    border: 1px solid #858585;
    background-image: none;
    background-color: #fff;
}
form .checkbox-inline input:checked:before {
    background-color: #858585;
}
form .checkbox-inline input:checked:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 4px;
    top: 4px;
    left: 3px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox-inline+.checkbox-inline {
	margin-left: 0;
}

.form-horizontal .footer-form-group label {
    font-size: 14px;
    font-weight: initial;
    text-align: left;
	padding-left: 0;
}

.form-horizontal .footer-form-group input {
    height: 24px;
}

.form-horizontal .btn-sumbit {
    padding: 8px 50px;
    font-size: 20px;
    margin: 50px 0;
}

.form-horizontal .form-group {
	margin-top: 30px;
}

.form-horizontal .form-group-select {
	margin: 30px 0 10px;
	width: 100%;
	float: left;
}

.form-horizontal .form-group-select label {
	text-align: left;
    padding-left: 0;
}

.form-horizontal .form-group-input label {
	text-align: left;
    padding-left: 0;
}
.download-main {
	height: 45vh;
    margin: 150px 0;
}
.btn-download {
	font-size: 18px;
	padding: 6px 65px;
}
footer {
	background-color: #0073ca;
	height: 50px;
	width: 100%;
	float: left;
}

@media only screen and (max-width: 1800px) {}