<template>
    <div>
        <h1 class="text-center">Welcome to Al-Ruwad</h1>
        <div class="col-md-12 text-center form-horizontal">
            <router-link class="btn btn-theme btn-sumbit" to="off-plan-offer">Off-Plan Offer</router-link>
            <router-link class="btn btn-theme btn-sumbit" to="plot-offer">Plot Offer</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {

        }
    }
</script>
